# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Virtual env
.env
.venv
env/
venv/

# Jupyter
.ipynb_checkpoints

# VSCode
.vscode/

# OS
.DS_Store

# Data & models 
data/raw/
*.joblib
*.parquet